<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Traveller</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Hello and welcome to the traveller-web-site!</h1>
</div>

<h4>
    <a class="container-fluid text-center" href="/home-page/about">
        <p class="container-fluid text-center">
            Brief information about this web-site
        </p>
    </a>
</h4>
<h4>
    <a class="container-fluid text-center" href="/main">
        <p class="container-fluid text-center">
            Main page with Ads
        </p>
    </a>
</h4>




</body>
</html>