body {
  background: url(/css/tripFormImage.jpg) no-repeat center;;
}

#autocomplite-list {
  list-style: none;
  padding: unset;
  margin: unset;
}

#autocomplite-list button {
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  background: rgb(240, 236, 236);
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.2em;
}




