<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page of Traveller</title>
    <link rel="stylesheet" type="text/css" href="\webjars\bootstrap\5.1.3\css\bootstrap.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script defer type="text/javascript" src="js/myJavaScript.js"></script>
    <title>Поездки</title>

</head>
<body>
<div class="bg-cover">


    <h1 class="container-fluid text-center">Главная страница</h1>

    <a th:href="@{logout}">
        <button id="logout">ВЫХОД</button>
    </a>

    <div class="login-info" th:text="'Вы зашли под логином: ' + ${currentUser.name}"></div>

    <div th:if="${message=='Изменения успешно внесены!'}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div th:if="${message=='Поездка успешно удалена!'}" class="alert alert-danger text-center">
        [[${message}]]
    </div>

    <div th:if="${message=='Такой поездки не существует!'}" class="alert alert-danger text-center">
        [[${message}]]
    </div>


    <div class="text-center"><a class="h5" th:href="@{main/creating-new-trip}">
        <button>Добавить поездку</button>
    </a></div>


    <div class="container-fluid text-center">
        <div><h3>Уже существующие поездки</h3></div>
        <div>
            <table class="table table-bordered">
                <thead class="tableHead">
                <tr>
                    <th>От куда</th>
                    <th>Куда</th>
                    <th>Когда</th>
                    <th>Изменить поездку</th>
                    <th>Удалить поездку</th>
                    <th>Создатель поездки(Водитель)</th>
                    <th>Пассажиры</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="trip : ${trips}">
                    <tr>
                        <td>[[${trip.fromTown}]]</td>
                        <td>[[${trip.toTown}]]</td>
                        <td>[[${#temporals.format(trip.departureDateAndTime, 'dd.MM.yyyy')}]]</td>
                        <td>
                            <a class="h6 mr-3"
                               th:href="@{'/main/edit/' + ${trip.id}}"
                               th:if="${trip.creatorOfThisTrip.name == currentUser.name or isAdmin}">
                                <button>Изменить</button>
                            </a>
                            <span th:if="${trip.creatorOfThisTrip.name != currentUser.name and !isAdmin}">Изменить(Неактивна)</span>
                        </td>
                        <td>
                            <a class="h6 mr-3"
                               th:href="@{'/main/delete/' + ${trip.id}}" methods="post"
                               th:if="${trip.creatorOfThisTrip.name == currentUser.name or isAdmin}">
                                <button>Удалить</button>
                            </a>
                            <span th:if="${trip.creatorOfThisTrip.name != currentUser.name and !isAdmin}">Удалить(Неактивна)</span>
                        </td>
                        <td>[[${trip.creatorOfThisTrip.name}]]</td>
                        <td>
                            <span th:if="${trip.passengers.isEmpty()}">пассажиров пока нет</span>
                            <span th:if="!${trip.passengers.isEmpty()}" th:each="passenger, iterStat : ${trip.passengers}">
                                <span th:text="${passenger.name}"></span>
                                <span th:if="${!iterStat.last}">, </span>
                            </span>
                        </td>
                        <td>
                            <a class="h6 mr-3"
                               th:href="@{'/main/join/' + ${trip.id}}"
                               th:if="${trip.creatorOfThisTrip.name != currentUser.name}">
                                <button>Присоединиться к поездке</button>
                            </a>
                            <a class="h6 mr-3"
                               th:href="@{'/main/leave/' + ${trip.id}}"
                               th:if="${trip.passengers.contains(currentUser)}">
                                <button>Покинуть поездку</button>
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

        </div>
    </div>

    <div class="container-fluid text-center">
        <a href="/home-page">
            <h3> Назад к домашней странице </h3>
        </a>
    </div>

</div>


</body>
</html>